<ion-header [translucent]="true">
  <ion-toolbar class="new-background-color">
    <ion-title>HOJA DE VIDA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="--ion-background-color: #dfd9d9;">

  <ion-grid>
    <ion-row>
      <ion-col size="1">

      </ion-col>
      <ion-col size="4">
        <ion-item>
          <ion-img style="width: 150px; height: 250px; margin-left: 30;" src="./assets/icon/image.jpg">
          </ion-img>
        </ion-item>
      </ion-col>
      <ion-col size="7">
        <ion-item color="primary">DATOS PERSONALES</ion-item>
        <p class="ion-padding-start" style="color: rgb(9, 8, 8);"><strong>Nombre:</strong> Maria Fernanda Diaz Anzola</p>
        <p class="ion-padding-start" style="color: rgb(9, 8, 8);"><strong>Fecha de nacimiento </strong>03/05/2004</p>
        <p class="ion-padding-start" style="color: rgb(9, 8, 8);"><strong>Número de identificación: </strong>1.034.656.796</p>
        <p class="ion-padding-start" style="color: rgb(9, 8, 8);"><strong>Dirección: </strong>Carrera 63a 62 27 Sur</p>
        <p class="ion-padding-start" style="color: rgb(9, 8, 8);"><strong>Celular: </strong>3012935585</p>
      </ion-col>
      <ion-col size="1">
        <!-- Contenido de la cuarta columna -->
      </ion-col>
    </ion-row>
  </ion-grid>
  



  <ion-item color="primary">PERFIL</ion-item>
  <p class="ion-padding-start" style="color: rgb(9, 8, 8);"> Estudiante de Analisis y Desarrolo de software, con capacidad de 
    compromiso y trabajo en equipo, me adaptó rápido en cualquier tipo de ambiente, alta creatividad y facilidad de aprendizaje.
    Soy una persona responsable con deseos de superación constante y actitud positiva.
  </p>




  <ion-item color="primary">FORMACION</ion-item>
  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <img src="./assets/icon/ESCUDO_6.png">
      </ion-avatar>
      <ion-label>
        <h2 style="color: rgb(9, 8, 8);">Primaria I.E.D Colegio Venecia, Tunjuelito       2010-2015</h2>
        <h2 style="color: rgb(9, 8, 8);">Bachiller I.E.D Colegio Venecia, Tunjuelito      2016-2021</h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="./assets/icon/sena.jpg">
      </ion-avatar>
      <ion-label>
        <h2 style="color: rgb(9, 8, 8);">Tecnologo en Analisis y Desarrolo de Software      2022-2024</h2>
        <h2 style="color: rgb(9, 8, 8);">Sena,Fontibón Quinto Trimestre</h2>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-item color="primary">EXPERENCIA LABORAL</ion-item>
  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <img src="./assets/icon/gran-empresa.jpg">
      </ion-avatar>
      <ion-label>
        <h2 style="color: rgb(9, 8, 8);">Vallealto Webtech-Programadora de software</h2>
        <h2 style="color: rgb(9, 8, 8);">Ejecución de trabajos de extracción, transformación y carga de migración y revision.</h2>
        <h2 style="color: rgb(9, 8, 8);">Diseño de estructuras de bases de datos para hacer frente a necesidades y expectativas de futuros usuarios</h2>
        <h2 style="color: rgb(9, 8, 8);">Mantenimiento y adaptacion de bases de datos de acuerdo con las necesidades de los usuarios.</h2>
        
        
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <img src="./assets/icon/gran-empresa.jpg">
      </ion-avatar>
      <ion-label>
        <h2 style="color: rgb(9, 8, 8);">A41 Informática - Programador de bases de datos</h2>
        <h2 style="color: rgb(9, 8, 8);"> Reuniones con el cliente para conocer sus necesidades y crear un software acorde a ellas.</h2>
        <h2 style="color: rgb(9, 8, 8);">Parametrización de instalaciones de manera local y remota.
        </h2>
        <h2 style="color: rgb(9, 8, 8);">Diseño y desarrollo de prototipos para su posterior aprobación por parte del cliente.
        </h2>
        
        
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-header>
    <ion-toolbar color="primary">
      <ion-grid>
        <ion-row>
          <ion-col size="6" >
            INTERESES 
          </ion-col>
          <ion-col size="6">
            APTITUDES
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-list>
            <ion-item>
              <ion-avatar slot="start">
                <img src="./assets/icon/tiposfoto.jpg">
              </ion-avatar>
              <ion-label>
                <h2 style="color: rgb(9, 8, 8);">Fotografia</h2>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-avatar slot="start">
                <img src="./assets/icon/musica.jpg">
              </ion-avatar>
              <ion-label>
                <h2 style="color: rgb(9, 8, 8);">Música</h2>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-avatar slot="start">
                <img src="./assets/icon/danza.jfif">
              </ion-avatar>
              <ion-label>
                <h2 style="color: rgb(9, 8, 8);">Danza</h2>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col size="6">
          <ion-list>
            <ion-item>
              <ion-label>
                <h2 style="color: rgb(9, 8, 8);">TRABAJO EN EQUIPO</h2>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label>
                <h2 style="color: rgb(9, 8, 8);">PROACTIVA</h2>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label>
                <h2 style="color: rgb(9, 8, 8);">RECURSIVA</h2>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>


    <ion-list>
      <ion-item  color="primary"> PROYECTOS
        <ion-toggle [(ngModel)]="showProjects"></ion-toggle>
      </ion-item>
      <ion-item *ngIf="showProjects">
        <!-- Elemento a mostrar para Proyectos -->
        <ion-row>
          <ion-col size="6">
            <img src="./assets/icon/9508002429860TI1034656796C_page-0001.jpg" alt="Imagen 1" width="100%">
          </ion-col>
          <ion-col size="6">
            <img src="./assets/icon/9508002429869TI1034656796C_page-0001.jpg" alt="Imagen 2" width="100%">
          </ion-col>
        </ion-row>
      </ion-item>
    
      <ion-item color="primary">  MULTIMEDIA 
        <ion-toggle [(ngModel)]="showMultimedia"></ion-toggle>
      </ion-item>
      <ion-item *ngIf="showMultimedia">
        <!-- Elemento a mostrar para Multimedia -->
        <ion-grid>
          <ion-row>
            <ion-col size="4">
              <!-- Video 1 -->
              <iframe width="100%" height="315" src="https://www.youtube.com/embed/7QU1nvuxaMA" frameborder="0" allowfullscreen></iframe>
            </ion-col>
            <ion-col size="4">
              <!-- Video 2 -->
              <iframe width="100%" height="315" src="https://www.youtube.com/embed/TJAfLE39ZZ8" frameborder="0" allowfullscreen></iframe>
            </ion-col>
            <ion-col size="4">
              <!-- Video 3 -->
              <iframe width="100%" height="315" src="https://www.youtube.com/embed/wDjeBNv6ip0" frameborder="0" allowfullscreen></iframe>
            </ion-col>
          </ion-row>
        </ion-grid>
        
        
      </ion-item>
    </ion-list>
    
  </ion-content>


  
  

    

  
 











  
 



  